# Variables en Python
Este cuaderno explica el uso de **variables en Python** con ejemplos y ejercicios.

## 1️⃣ ¿Qué es una variable?
En Python, las variables se usan para **almacenar datos** que pueden referenciarse y manipularse durante la ejecución.
Una variable es un **nombre asignado a un valor**. No es necesario declarar el tipo; Python lo infiere.

In [3]:
# Ejemplo básico (variables en inglés, comentarios en español)
x = 5  # entero
name = "Samantha"  # cadena

print(x)      # 5
print(name)   # Samantha

5
Samantha

### Ejercicio 1
Crea tres variables llamadas `first_name`, `age` y `city`, asígnales valores y muéstralos con `print()`.

In [6]:
# Escribe aquí tu código
first_name, age, city = "guillerito" , 29, "gouda"

print(first_name, age, city)

guillerito 29 gouda

## 2️⃣ Reglas para nombrar variables
- Letras, dígitos y guion bajo `_`.
- No pueden empezar con un dígito.
- Sensibles a mayúsculas/minúsculas.
- No usar palabras clave de Python.

In [ ]:
# Ejemplos válidos
age = 21
_colour = "lilac"
total_score = 90

# Ejemplos inválidos (no ejecutar)
# 1name = "Error"
# class = 10
# user-name = "Doe"

### Ejercicio 2
Escribe cinco nombres de variables para un programa de notas de alumnos, cumpliendo las reglas de Python.

In [ ]:
# Escribe aquí tu código
name = "Alice"
test_score = 95
classroom = "3A"
date = "2024-06-15"
max_score, min_score = 100, 0

**Naming**
    
Indica si los siguientes nombres serían válidos en Python. Si no lo son, explica por qué y propón una alternativa válida.
```
1st_value  no es valido por que en python los identificadores no empiezan por numero

total-sum  no es valido por que solo se permite tener letras y _ en los nombres 

_cache     si es valido

userName   si es valido

for        no por que es una palabra reservada

score2     si aun que tenga numero no esta en el principio
```

#### Escribe aquí la respuesta

## 3️⃣ Asignación de valores y tipado dinámico
Puedes asignar valores con `=` y usar tipado dinámico (una misma variable puede referenciar objetos de distintos tipos a lo largo del programa).

In [ ]:
# Asignación básica y tipado dinámico
score = 10  # entero
print(type(score))  # mostrar tipo
score = "ten"  # ahora cadena
print(type(score))

### Ejercicio 3
Declara una variable `score` con valor `10`. Reasígnala con el texto `"ten"` y muestra su tipo después de cada cambio usando `type()`.

In [ ]:
# Escribe aquí tu código
score = 10 
print(type(score))  ## muestra que es un dato int
score = "ten"
print(type(score))  ## muestra que es un dato string

<class 'int'>
<class 'str'>

## 4️⃣ Asignaciones múltiples
- Mismo valor en varias variables.
- Valores diferentes en una sola línea.
- Intercambio (swap) sin variable temporal.

In [ ]:
# Mismo valor para varias variables
a = b = c = 100
print(a, b, c)

# Valores diferentes en una sola línea
country, code, european = "Spain", 34, True
print(country, code, european)

# Swap sin variable temporal
left, right = 1, 2
left, right = right, left
print(left, right)

### Ejercicio 4
En una sola línea, asigna `country = "Spain"`, `code = 34`, `european = True`. Imprime los valores.

In [8]:
# Escribe aquí tu código
country, code, european = "Spain", 34, True
print(country, code, european)

Spain 34 True

## 5️⃣ Conversión de tipos (Type casting)
Usa `int()`, `float()` y `str()` para convertir valores entre tipos básicos.

In [12]:
# Ejemplos de casting
s = "10"  # cadena
n = int(s)  # a entero
cnt = 5
f = float(cnt)  # a flotante
age = 25
s2 = str(age)   # a cadena

print(n)   # 10
print(f)   # 5.0
print(s2)  # 25

10
5.0
25

### Ejercicio 5
Convierte la cadena `"25"` a entero y luego a flotante. Imprime el resultado en cada paso.

In [13]:
# Escribe aquí tu código
age = 25 
f = float(age)
print(f)
i = int (age)
print(i)

25.0
25

## 6️⃣ Obtener el tipo de una variable
La función `type()` devuelve el tipo del objeto pasado.

In [14]:
# Ejemplo de type()
n = 42
f = 3.14
s = "Hello, World!"
li = [1, 2, 3]
d = {"key": "value"}
flag = True

print(type(n))
print(type(f))
print(type(s))
print(type(li))
print(type(d))
print(type(flag))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>

### Ejercicio 6
Declara variables de los tipos: `int`, `float`, `str`, `list`, `dict` y `bool`. Usa `type()` para imprimir el tipo de cada una.

In [15]:
# Escribe aquí tu código
i = 34
f = 5,23
s = "guillerito"
l = [1,2,3]
d = {"guillerito" : "gouda"}
bo = True
print(type(i))
print(type(f))
print(type(s))
print(type(l))
print(type(d))  
print(type(bo))

<class 'int'>
<class 'tuple'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>

## 7️⃣ Referencia a objetos en Python
Los nombres referencian objetos. Si dos nombres apuntan al mismo objeto **mutable**, un cambio será visible desde ambos.

In [16]:
# Ejemplo con lista (mutable)
items = [1, 2]          # lista
alias = items           # misma referencia
alias.append(3)         # mutamos el objeto
print(items)            # [1, 2, 3]

# Ejemplo con enteros (inmutables)
a = 10
b = a
b = b + 1               # crea un nuevo entero
print(a, b)             # 10 11

[1, 2, 3]
10 11

### Ejercicio 7
Crea una lista con dos números y asígnala a dos variables diferentes. Modifica la lista desde una de ellas y observa el resultado en la otra.

In [17]:
# Escribe aquí tu código
algo = 234
otroAlgo = algo
otroAlgo = otroAlgo *342
print(algo, otroAlgo)

234 80028

## 8️⃣ Eliminar variables con `del`
`del nombre` elimina el **nombre** del espacio de nombres. Acceder después al nombre produce `NameError`.

In [ ]:
# Ejemplo de del
temp = 99
print(temp)
del temp
# print(temp)  # provocaría NameError

### Ejercicio 8
Crea una variable `temp`, imprímela, elimínala con `del` e intenta imprimirla de nuevo (comenta el error que se produce).

In [ ]:
# Escribe aquí tu código
guillerito = "gouda"
print(guillerito)
del guillerito
print(guillerito)

gouda

## 9️⃣ Ejemplos prácticos

In [ ]:
# Swap de variables
left, right = 5, 10
left, right = right, left
print(left, right)

# Longitud de una cadena asignada a una variable
word = "Python"
length = len(word)
print("Length of the word:", length)

### Ejercicio 9
Crea dos variables con números y realiza un swap para intercambiar sus valores. Imprime el resultado.

In [21]:
# Escribe aquí tu código
guillerito, paublito = 342, 153235
guillerito, paublito = paublito, guillerito 
print(guillerito, paublito)

153235 342

## 🔟 Ejemplos adicionales

In [22]:
# Tipado dinámico
value = 3
print(type(value))
value = "three"
print(type(value))

# Referencias compartidas
letters = ["a", "b"]
alias_letters = letters
clone_letters = letters[:]
alias_letters.append("c")
print(letters, alias_letters, clone_letters)

# Asignación múltiple
host, port, secure = "localhost", 8080, True
print(host, port, secure)

<class 'int'>
<class 'str'>
['a', 'b', 'c'] ['a', 'b', 'c'] ['a', 'b']
localhost 8080 True

### Ejercicio 10
Crea una variable `letters` con una lista de letras. Cópiala en `alias_letters` y en `clone_letters` (usando slicing). Añade un elemento desde `alias_letters` y observa cómo cambian las tres variables.

In [34]:
# Escribe aquí tu código
letters = ["a", "b", "c"]
alias_letters = letters
clone_letters = letters[0:]
alias_letters.append("d")
print(letters, alias_letters, clone_letters)

['a', 'b', 'c', 'd'] ['a', 'b', 'c', 'd'] ['a', 'b', 'c']

## ✍️ Ejercicio final
Combina lo aprendido:
1. Crea una variable `student` con tu nombre.
2. Crea `age` con tu edad.
3. Usa `print()` para mostrar un mensaje que combine ambas.
4. Convierte `age` en cadena antes de concatenarla.

In [47]:
student = "Xulei"
age = 17
print("Student", student, "is", age, "years old.")
age1 = str(age)
print("Student", student, "is", age1, "years old.")

Student Xulei is 17 years old.
Student Xulei is 17 years old.

## 11 Raw strings en Python — Ejercicios

En estos ejercicios practicaremos el uso de **raw strings** (`r"..."`) para evitar que Python interprete secuencias de escape (`\n`, `\t`, `\\`, etc.). 

Recuerda:
- Un *raw string* **no procesa** las secuencias de escape.
- No puede **terminar** con una barra invertida suelta (`\`).
- El delimitador de comillas **sigue cerrando** la cadena (usa el otro tipo de comillas o comillas triples si necesitas incluirlas dentro).

### Ejercicio 1 — Comparar cadena normal vs raw string (rutas Windows)

Crea dos variables que representen la misma ruta de Windows:
1) `path_normal` como cadena normal escapando barras.
2) `path_raw` como raw string sin duplicar barras.

Imprime ambas y verifica que la salida es idéntica: `C:\Users\Python`.

In [5]:
# Escribe aquí tu código
# Crea path_normal (cadena normal) y path_raw (raw string) y muéstralas por pantalla
path_normal = "C:\\new_folder\\test.txt"
path_raw = r"C:\new_folder\test.txt"
print(path_normal)
print(path_raw)

C:\new_folder\test.txt
C:\new_folder\test.txt

### Ejercicio 2 — Secuencias de escape visibles

Crea dos cadenas que contengan el texto `\n` y `\t`:
- `escaped_text` como cadena normal para observar el salto de línea y tabulación.
- `raw_text` como raw string para ver los caracteres `\` y `n`, `\` y `t` literalmente.

(\n es un salto de linea y \t funciona como tabulador)

Imprime cada una y comenta la diferencia visual.

In [ ]:
# Escribe aquí tu solución
# Muestra la diferencia entre una cadena normal y un raw string con \n y \t
escaped_text = "Hello,\n\tWorld!"  # en escapado el \n hace un salto de linea y \t un tabulador
raw_text = r"Hello,\n\tWorld!"      # en raw lo imprime literalmente
print(escaped_text)
print(raw_text)

Hello,
	World!
Hello,\n\tWorld!

### Ejercicio 3 — Expresiones  (patrones con backslashes)
Supón que quieres un patrón que coincida con un número con prefijo `\d+` (dígitos) y luego un literal de barra invertida `\` seguido de la letra `n` (queremos ver `\n` como dos caracteres, no salto de línea).

1) Define `pattern_normal` SIN raw string y observa cuántos backslashes necesitas.
2) Define `pattern_raw` usando `r"..."` para simplificar.
3) Imprime ambos patrones para comprobar que representan la misma secuencia de caracteres.

In [ ]:
# Escribe aquí tu solución
# Crea pattern_normal (cadena normal) y pattern_raw (raw string) que representen lo mismo y compáralos
# NO SE HACE

### Ejercicio 4 — Error común: raw string terminando en backslash

Intenta crear una ruta que termine en barra invertida (por ejemplo, `C:\Temp\`). 
1) Explica por qué `r"C:\Temp\"` da error de sintaxis.
2) Muestra dos formas correctas de representarla:
   - Duplicando la última barra en raw string: `r"C:\Temp\\"`
   - Usando cadena normal con escape adecuado: `"C:\\Temp\\"`
3) Imprime ambas y verifica que la salida final termina en `\`.

In [ ]:
# Escribe aquí tu solución
# Demuestra el error (comentado) y las dos formas correctas, imprimiendo el resultado final
error_sintax = r"C:\Temp\" #no deja poner \ al final en texto raw
print(error_sintax)
good_sintax = r"C:\Temp\\" # si quiero poner \ al final pongo doble \\ y al ser raw lo imprime de forma literal
print(good_sintax)
good_sintax2 = "C:\\Temp\\" # sin el raw si pones dobble \\ solo imprime una \
print(good_sintax2)

C:\Temp\\
C:\Temp\\
C:\Temp\

## Ejercicio 5 — Comillas dentro de raw strings

Queremos incluir comillas dobles en la cadena. Recuerda que en un raw string el delimitador **sigue cerrando** la cadena.
1) Crea `text_ok_1` usando raw string con comillas simples como delimitador y comillas dobles dentro. r'texto "ho"'
2) Crea `text_ok_2` usando comillas triples raw `r"""..."""` e incluye comillas dobles y simples dentro. r""" texto "hola" fin"""
3) Explica por qué `r"She said: "hi""` NO es válido como literal (no lo ejecutes).

In [ ]:
# Escribe aquí tu solución
# Crea text_ok_1 y text_ok_2, imprímelos y añade comentarios explicativos
test_ok_1 = r'texto "hola"' #si quiero q el texto tenga doble comilla empiezo el texto con comilla simple
print(test_ok_1)  
test_ok_2 = r"texto 'hola'" #si quiero q el texto tenga comilla simple empiezo el texto con comilla doble
print(test_ok_2)

texto "hola"
texto 'hola'

### Quiz final
- ¿Qué imprime `print(r"\n")`?  
- ¿Se puede terminar un raw string con una barra invertida suelta? ¿Por qué?  
- ¿Cómo incluir comillas dobles dentro de un raw string delimitado por comillas dobles?

Responde aquí